#root a {
    text-decoration: none;
}

#root .post-details-card {
    border: 1px solid #183881;
    color: #183881;
}

#root .post-details-div a {
    color: #183881;
}

#root .post-details-body {
    border-top: 1px solid #c0c0c0;
    font-size: 14px;
}

#root .post-comments {
    font-size: 14px;
}

#root .post-details-body a,
#root .post-comments a {
    color: #000;
}

#root .post-details-card img{
    max-width: 100%;
    height: auto;
}

#root .post-details-body a :hover{
    color: #183881;
}
#root .post-details-body img,
#root .post-comments img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    border: 1px solid #183881;
}

#root .post-comments .create-comment {
    background-color: #183881;
    border-color: #183881;
    color: #fff;
}

#root .post-comments .create-comment:hover {
    background-color: #2452be;
}

#root .post-details-div a:hover {
    color: #183881;
}


body > div.fade.like-modal.modal.show > div > div {
    border: 1px solid #183881;
    border-radius: 0;
}

#root .user-card a {
    color: #183881;
}
